<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Abertura de Tickets Mosia x Zendesk</title>
</head>
<body>

    <h2>Registrar</h2>
    <form action="/show" method="POST">
        <input type="text" placeholder="Protocolo" name="protocolo">
        <label for="status">status ticket</label>
        <select id="status" name="status">
          <option value="open">aberto</option>
          <option value="solved">resolvido</option>
        </select>
        <button type="submit">Submit</button>
    </form> 

</body>
</html>